*{
    outline:none;
    font-family: "Montserrat", sans-serif;
    font-weight: 50;
    transition: all 0.3s ease 0s;
}
/* Border */
/* Border-blue */
.border-four-blue{
    border: 0.5px solid rgb(70, 130, 180);
}
.border-bottom-blue{
    border-bottom: 0.5px solid rgb(70, 130, 180);
    border-top: none;
    border-right: none;
    border-left: none;
}
.border-left-blue{
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: 0.5px solid rgb(70, 130, 180);
}
.border-four-blue:focus{
    border: 0.5px solid rgb(70, 130, 180);
}
.border-bottom-blue:focus{
    border: 0.5px solid rgb(70, 130, 180);
}
.border-left-blue:focus{
    border: 0.5px solid rgb(70, 130, 180);
}
/* Border red */
.border-four-red{
    border: 0.5px solid rgb(235, 18, 54);
}
.border-bottom-red{
    border-bottom: 0.5px solid rgb(235, 18, 54);
    border-top: none;
    border-right: none;
    border-left: none;
}
.border-left-red{
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: 0.5px solid rgb(235, 18, 54);
}

.border-four-red:focus{
    border: 0.5px solid rgb(235, 18, 54);
}
.border-bottom-red:focus{
    border: 0.5px solid rgb(235, 18, 54);
}
.border-left-red:focus{
    border: 0.5px solid rgb(235, 18, 54);
}
/* DIV of EACH FEILD */
.form-control{
    margin: auto;
    width: 40%;
    display: flex;
    margin-bottom: 15px;
}
/* fields */
.form-feild{
    width: 100%;
    height: 35px;
    font-size : 18px;
    padding-left: 10px;
}
.form-feild:focus{
    box-shadow: 0.5px 0.5px 4px rgb(70, 130, 180);
}
/* Button */
.btn{
    width:100%;
    height:45px;
    margin-left: 1.5%;
}
/* button-blue */
.btn-blue{
    background-color: white;
    color: rgb(70, 130, 180);
    transition: all 0.3s ease 0s;
}
.btn-blue:hover{
    background-color: rgb(70, 130, 180);
    color: white
}
/* button-red */
.btn-red{
    background-color: white;
    color: rgb(235, 18, 54);
}
.btn-red:hover{
    background-color: rgb(235, 18, 54);
    color: white
}
/* icon */
.icon{
    color: white;
    min-width: 50px;
    text-align: center;
    padding: 10px;
}
/* icon-red */
.icon-red{
    background: rgb(235, 18, 54);
}
/* icon-blue */
.icon-blue{
    background: rgb(70, 130, 180);
}